.loader-container {
  /* background-color: aqua; */
  margin-top: 25px;
  max-width: 1100px;
  width: 90vw;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listcard-error {
  /* background-color: aqua; */
  margin-top: 25px;
  max-width: 1100px;
  width: 90vw;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.listcard-error__title {
  width: 300px;
  margin-bottom: 20px;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.88);
  text-align: center;
}
.listcard-error__button {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s linear;
}
.listcard-error__button:hover {
  transform: scale(1.02);
}
.listcard-error__button:active {
  transform: scale(0.97);
}
.listcard {
  /* background-color: blueviolet; */
  margin-top: 25px;
  max-width: 1100px;
  width: 90vw;
}
.filtersection {
  /* background-color: white; */
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.filtersection__button-add{
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
  border: 1px solid grey;
  border-radius: 8px;
  color: black;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
.filtersection__button-add:hover{
  transform: scale(1.02);
}
.filtersection__button-add:active{
  transform: scale(0.98);
}
.query-result {
  /* background-color: chartreuse; */
  min-height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: black;
  text-indent: 40px;
}
.card-container {
  /* background-color: chocolate; */
  background-color: transparent;
  width: 100%;
  min-height: 70vh;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
  gap: 40px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@media (max-width: 1024px) {
  .filtersection {
    height: 80px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
  }
}
@media (max-width: 720px) {
  .filtersection {
    height: 240px;
    display: grid;
    grid-template-columns: 200px;
    gap: 5px;
  }
}
